$section_title_color: #272f32;
$section_title_hr_color: #2b2f32;
$list_color: #2c3134;
$list_hover_color: #f7f7f7;
$edit_btn_color: #ef8f1f;
$delete_btn_color: #9f2635;
$form_btn_color: #01589d;
$input_border_color: #959595;
$input_label_color: #373737;
$plus_icon_color: #0f4998;
$add_text_color: #24282b;
$form_title_color: #1c463a;
$close_btn_color: #171717;